<div th:replace="fragments/header"></div>
<div class="container" id="body">
  <center>
    <h1>Conference List</h1>
    <br />
    <br />

    <table
      id="example"
      class="table table-striped table-bordered dt-responsive"
      cellspacing="0"
      width="100%"
    >
      <thead>
        <tr>
          <th class="text-center">No</th>
          <th class="text-center">Name</th>
          <th class="text-center">Start Date</th>
          <th class="text-center">Room</th>
          <th class="text-center">Abstract</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="conference,iterationStatus: ${conferenceList}">
          <td th:text="${iterationStatus.count}">1</td>
          <td th:text="${conference.nama}">Nama</td>
          <td th:text="${conference.tanggalMulai}">Tangal Mulai</td>
          <td th:text="${conference.ruanganDipakai}">Ruangan Dipakai</td>
          <td th:text="${conference.abstrak}">Abstract</td>

          <td class="text-center">
            <form th:action="'/view/' + ${conference.id}">
              <button
                class="btn btn-outline-primary my-2 my-sm-0 col-6"
                type="submit"
              >
                View
              </button>
            </form>
            <form th:action="'/update/' + ${conference.id}">
              <button
                class="btn btn-outline-primary my-2 my-sm-0 col-6"
                type="submit"
              >
                Update
              </button>
            </form>
            <form th:action="'/delete/' + ${conference.id}" method="post">
              <button class="btn btn-outline-danger my-2 my-sm-0 col-6" type="submit">
                Delete
              </button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </center>
</div>
<script>
  var table = $("#example").DataTable();

  $(document).ready(function() {
    $("#example").DataTable();
  });
</script>
<div th:replace="fragments/footer"></div>
